<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<% if user_signed_in? %>
  <%= link_to 'Fazer logoff', destroy_user_session_path, method: :delete %>
<% end  %>

<%= link_to 'New user', new_user_path %>


<form action="/upload" id="mediadropzone" class="dropzone" enctype="multipart/form-data">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
            <div class="dz-message">    
              <h5><i class="fa fa-paperclip"> </i> Anexos</h5>
            </div>
            <div class="fallback">
            <input name="media" type="file" multiple />
            </div>
          </form>